---
title: Mir Bhatia
---

<h1>
  Hi, I'm <span class="big"> <%= link_to("Mir", "https://www.linkedin.com/in/mir-bhatia-41b7b9148/", target: "_blank", class: "mir") %> </span>
</h1>
<br>
<h2>
  Check out my <%= link_to("coffee log", "/coffee", class: "coffee") %> <span id="secret2">☕&#xFE0E;</span>
</h2>
<br>
<h3>
  You can also find me on <%= link_to("Twitter", "https://twitter.com/mirdotbhatia", target: "_blank", class: "twitter") %> or <%= link_to("Instagram", "https://www.instagram.com/mirdotbhatia/", target: "_blank", class: "instagram") %>
</h3>
<br>
<h3 id="secret">
  <3
</h3>
