---
title: Mir Bhatia
---

<h1>
  Hi, I'm Mir
</h1>

<h2>
  This will hopefully have actual content soon, but for now find me on <%= link_to("Twitter", "https://twitter.com/mirdotbhatia", target: "_blank", class: "twitter") %> or <%= link_to("Instagram", "https://www.instagram.com/mirdotbhatia/", target: "_blank", class: "instagram") %>
</h2>
